.checkbox_container{
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.chackbox_container input {
    position: absolute;
    opacity: 50%;
    cursor: pointer;
    height: 0;
    width: 0;
}
