.chackbox_container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.chackbox_container input {
    position: absolute;
    opacity: 0%;
    cursor: pointer;
    height: 0;
    width: 0;
}
