*{
    box-sizing: border-box;
    

}

section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.create_container{
    width: 80%;
}

.create_input{
    
    font-size: 18px;
    width: 80%;
}



.create_button:active{
    border: 1px solid;
    
    box-shadow: 2px 2px 5px 3px rgb(65, 61, 61)
}

.todo_container{
    padding: 30px, 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.todo_item{
    border: 1px solid grey;
    border-radius: 15px;
    width: 25%;
    padding: 10px, 15px;
    background-color:rgba(170, 166, 153, 0.336);
    margin-bottom: 20px;
}
.todo_item.done{
    background-color: rgba(203, 241, 213, 0.685);
    text-decoration:line-through;
    color: #757575
}

.todo_item.done h4, .todo_item.done p, .todo_item.done span{
    color: #757575

}

.todo_item.done img{
    opacity: 0.5;

}

.todo_item.marked{
    background-color:rgb(202, 114, 114);
    border: 2px solid rgb(65, 61, 61);
}

.todo_item_header{
    display: flex;
    align-items: center;
    min-height: 25px;
    
}

.todo_item_header h4{ 
    font-size: 18px;
    
}


.todo_item_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

..todo_item_footer p {
    font-size: 14px;

}





.todo_item_footer .action_buttons{

    display: flex;
}

.todo_item_footer img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;

}




